extends layout

block content
  div(ng-app="BlankApp" ng-controller='SecureChatController' ng-init="init()")
    div(layout="row" flex="100" layout-align="end end") 
      md-button(ng-click="signout()") Sign out
    div(layout="row" flex="70")
      div(layout="column" flex="30")
        md-list
          md-list-item(class="md-2-line" ng-click="selectUser(user)" ng-class="{'nav-active': user == selectedUser}" ng-repeat="user in users")
            span {{user}}
      div(ng-if="selectedUser" layout="column" flex)
        md-content(layout-padding flex style="height: 400px")
          md-list
            md-list-item(ng-repeat="message in messages" class="md-2-line")
              div(class="md-list-item-text" layout='column')
                h4 {{message.date}}
                h3 {{message.content}}
        md-card
          md-card-content
            md-input-container(class="md-block")
              label Say Hello!
              textarea(ng-model='typedMessage')
            md-card-actions(layout="row" layout-align="end end")
              md-button(ng-click="sendMessage(typedMessage)") Send
